.header {
    display: flex;
   background-color: black;
    height: 65px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transparent; /* Makes the header background transparent */
    z-index: 1000; /* Ensures the header is on top of other elements */
    position: absolute; 
}


.ulist {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

a {
    text-decoration: none;
    color:white;
}
